body {
    background-color:black;
    font-family:arial;
    color:white;
    margin: 0 auto;
    text-align:center;
    }
h1{
    color:grey;
    font-family:verdana;
    text-align:left;
    }
.maindiv {
    background-color: white;
    color:black;
    width:550px;
    padding:20px;
    border-radius:25px;

    white-space:nowrap;
    line-height:30px;

    }
    .inputdiv{
        text-align:left;
        margin-left:80px;
    }
footer {
    text-align:left;
    }

