body {
    background-color:black;
    font-family:arial;
    color:white
    }
h1{
    color:grey;
    font-family:verdana;
    text-align:left;
    }
.maindiv {
    background-color: white;
    color:black;
    width:500px;
    padding:20px;
    box-sizing:border-box;
    border-radius:25px;
    text-align:center;
    white-space:nowrap;
    line-height:30px;
    text-indent:20px;
    }
    footer {
        text-align:left;
    }

